html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url('https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=');
}

.img2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGv0kRwI1Mb33rpArj2HhdzPoxpEo1ae4c6dOtC9BZsTAQgejWfmt5wjAW&s=10');
}

.block {
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
}
